<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenue sur Muscarnet, votre carnet de musculation</h1>
        {% include "login.html" %}
    <p>Pas encore inscrit ?</p>
    <a href="{% url 'registration-page' %}">Inscrivez-vous</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>